body {
  height: 100%;
  margin: 0;
  background-color: #84b4e4;
  /* overflow:hidden; */
}
path:hover {
  stroke: #2964c0 !important;
  stroke-width:2px;
  stroke-linejoin: round;
  fill: #2964c0 !important;
  cursor: pointer;
}
#info-box {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-color: #333333;
  /* border: 2px solid #BF0A30; */
  border-radius: 5px;
  padding: 4px;
  font-family: arial;
  font-size: 12px;
  color: #fff;
}
.center {
  margin: auto;
  width: 100%;
  text-align: center;
  /* padding-top: 10px; */
}
.header-footer {
  background-color: #3f729b;
  color: #fff;
}
.first-click {
  fill: #31a354;
}
.second-click {
  fill: #a1d99b;
}
.third-click {
  fill: #de2d26;
}
p {
  font-size: 2vw;
  color: white;
  filter: drop-shadow( -2px -2px 2px #000 );
}
.flash-color {
  color: #ff0000;
}
.fadeIn-color{
  color: #fef700;
}
.score-color{
  color: #fef700;
}
.scaling-svg-container {
  position: relative; 
  height: 0; 
  width: 100%; 
  padding: 0;
  padding-bottom: 50%; 
 }
 .scaling-svg {
  position: absolute; 
  height: 100%; 
  width: 100%; 
  left: 0; 
  top: 0;
 }
 .shadow {
   -webkit-filter: drop-shadow( -5px -5px 5px #000 );
    filter: drop-shadow( -5px -5px 5px #000 );
 }
 .nav-shadow {
  /* Use -webkit- only if supporting: Chrome < 54, iOS < 9.3, Android < 4.4.4 */
  /* -webkit-filter: drop-shadow( -5px -5px 5px #000 );  */
          /* filter: drop-shadow( -5px -5px 5px #000 ); */
    -webkit-box-shadow: 0 8px 6px -6px black;
	  -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
    background-color: #e3f2fd;
}
.emoji {
  font-size:4rem;
  width:100%;
  text-align: center;
}
.emoji-comment {
  text-align: center;
}

.center-div {
  position: fixed;
  height: auto;
  width: 100%;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.vertical-align {
  display: flex;
  align-items: center;
}

.img-project {
  /* display: inline-block; */
  height: auto;
  width: 80%;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-left:auto;
   margin-right:auto;
   display:block;
}
.header-img {
  width: 4%;
  height: auto;
  padding: 0;
  /* box-shadow: 0 8px 6px -6px black; */
}
.heading-title {
  font-size: 1.4vw;
  font-family: "Comic Sans MS";
  /* font-style: italic; */
  font-weight: bold;
  /* color: white; */
  /* filter: drop-shadow( -2px -2px 2px #000 ); */
}

/* .container-img-text {
  position: relative;
  text-align: center;
  color: #fef700;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

.container2 {
  position: relative;
  width: 100%;
}

.image {
opacity: 1;
display: block;
width: 80%;
height: auto;
transition: .5s ease;
backface-visibility: hidden;
padding-top: 0px;
  padding-bottom: 0px;
  margin-left:auto;
   margin-right:auto;
}

.middle {
transition: .5s ease;
opacity: 0;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
text-align: center;
}

.container2:hover .image {
opacity: 0.3;
}

.container2:hover .middle {
opacity: 1;
}

.text {
/* background-color: #4CAF50; */
color: #fef700;
font-size: 1.6vw;
font-weight: bold;
font-style: italic;
/* padding: 16px 32px; */
}
a:link {
text-decoration: none;
}
a:hover {
  color: #fef700;
}

.awesome {
  font-family: futura;
  font-style: italic;
  /* width:100%; */
  /* margin: 0 auto; */
  text-align: center;
  color:#313131;
  font-size: 2.2vw;;
  font-weight: bold;
  /* position: absolute; */
  -webkit-animation:colorchange 20s infinite alternate;
}
@-webkit-keyframes colorchange {
  0% {
    color: blue;
  }
  10% {
    color: #8e44ad;
  }
  20% {
    color: #1abc9c;
  }
  30% {
    color: #d35400;
  }
  40% {
    color: blue;
  }
  50% { 
    color: #34495e;
  }
  60% {
    color: blue;
  }
  70% {
    color: #2980b9;
  }
  80% {
    color: #f1c40f;
  }
  90% {
    color: #2980b9;
  }
  100% {
    color: pink;
  }
}